# Samba Configuration
# SAMBA_PASSWORD=your_samba_password

# Gluetun VPN Configuration
# See: https://github.com/qdm12/gluetun/wiki for provider-specific variables
GLUETUN_VPN_PROVIDER=your_vpn_provider
GLUETUN_VPN_TYPE=openvpn
GLUETUN_SERVER_COUNTRIES=
GLUETUN_OPENVPN_USER=your_vpn_username
GLUETUN_OPENVPN_PASSWORD=your_vpn_password
GLUETUN_FREE_ONLY=on
# For WireGuard (if using wireguard type):
# GLUETUN_WIREGUARD_PRIVATE_KEY=your_private_key
# GLUETUN_WIREGUARD_ADDRESSES=your_wireguard_addresses
# GLUETUN_WIREGUARD_PRESHARED_KEY=your_preshared_key
